<div class="profile-container">
    <div class="profile-header">
      <h2>User Profile</h2>
    </div>
      <div class="profile-body">
        <div class="profile-icon">
          <i class="fas fa-user-circle"></i>
        </div>
      <div class="profile-details">
        <div class="profile-info">
            <label class="profile-label">Id:</label>
            <span class="profile-value">{{ User.id }}</span>
          </div>
        <div class="profile-info">
          <label class="profile-label">Name:</label>
          <span class="profile-value">{{ User.name }}</span>
        </div>
        <div class="profile-info">
          <label class="profile-label">Email:</label>
          <span class="profile-value">{{ User.email }}</span>
        </div>
        <div class="profile-info">
            <label class="profile-label">Gender:</label>
            <span class="profile-value">{{ User.gender }}</span>
        </div>
        <div class="profile-info">
            <label class="profile-label">Department:</label>
            <span class="profile-value">{{ User.department }}</span>
          </div>
          <div class="profile-info">
            <label class="profile-label">Phone:</label>
            <span class="profile-value">{{ User.phone }}</span>
          </div>
          <div class="profile-info">
            <label class="profile-label">Role:</label>
            <span class="profile-value">{{ User.role }}</span>
          </div>
      </div>
      
    </div>
  </div>
  