<!-- <nav>
  <div class="ne">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#" >Contactus</a></li>
      <li><a href="#"> Careers</a></li>
      <li><a href="#"> Dashboard</a></li>
      <li>Menu</li>
    </ul>
  </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"><i class="fas fa-home"></i>Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/fai">Faculty Area of interest</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/guidelines">Report GuideLines</a>
        </li>
        <li class="nav-item active">
          <a *ngIf="authservice.roleMatch('student')" class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item active">
          <a *ngIf="authservice.roleMatch('teacher')" class="nav-link" routerLink="/faculty">DashboardFaculty</a>
        </li>
        <li class="nav-item active">
          <a *ngIf="authservice.roleMatch('admin')" class="nav-link" routerLink="/admin">Dashboard-Admin</a>
        </li>
        <li class="nav-item active">
          <a *ngIf="!isLoggedIn()" class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item active">
            <a *ngIf="!isLoggedIn()" class="nav-link " routerLink="/signup">Sign up</a>
        </li>
        <li class="nav-item active">
            <a *ngIf="authservice.roleMatch('student')" class="nav-link " routerLink="/spr">Student Project Registration</a>
        </li>
        <li class="nav-item active">
          <a *ngIf="authservice.roleMatch('admin')" class="nav-link " routerLink="/allusers">All Users</a>
        </li>
        <li class="nav-item active">
          <a *ngIf="authservice.roleMatch('teacher')" class="nav-link" routerLink="/projects">Projects</a>
        </li>
        <li class="nav-item active">  
          <a *ngIf="isLoggedIn()" class="nav-link" routerLink="/profile">Profile</a>
        </li> 
        <!-- <li class="nav-item active">
          <a *ngIf="isLoggedIn()" class="nav-link " routerLink="/logged">logged</a>
        </li> -->
        <li class="nav-item active">
          <a *ngIf="authservice.roleMatch('admin')" class="nav-link " routerLink="/afp">AddFaculty</a>
        </li>
        <li class="nav-item active">
          <a *ngIf="isLoggedIn()" class="nav-link" routerLink="/logout" (click)="logout()">Logout</a>
        </li> 
      </ul>
    </div>
  </nav>
